@media (min-width: 2560px) {
    #sidebar {
        width: 8% !important;
    }
    
    #myLink{
        padding-left: 35px;
    }
    .card-mesa{
        width: 18rem;
        max-height: 200px !important;
    }
    .card-icon{
        width: 150px;
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: 70px;
        margin-right: 40px;
    }
    .navbar-toggler{
        display: none;
    }

    .modal-dialog {
        max-width: 70%; /* Ajuste predeterminado */
    }
    .tomaPedido{
        width: 20rem;
        max-height: 200px;
    }
    .pedidoImg{
        max-height: 50px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden; /* Evita el desbordamiento horizontal */
    }
    .navbar-toggler{
        display: none;
    }
    .content-meseros{
        margin-left: 0 !important;
    }
    hr{
        width: 85%;
    }
    .iconos{
        margin-left: 17px;
    }
    .check-text {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }

    .check-circle {
        width: 60px;
        height: 60px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0 !important;
        top: -20px;
        transform: translateX(-10px);
        z-index: 1;
    }

    .check-circle i {
        color: white;
        font-size: 24px;
    }
    .check-text1 {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }

    .check-circle1 {
        width: 60px;
        height: 60px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0 !important;
        top: -20px;
        transform: translateX(-20px);
        z-index: 1;
    }

    .check-circle i {
        color: white;
        font-size: 24px;
    }
    #sidebar{
        width: 13%;
        border: 3px solid var(--success);
        border-top: none;
        border-left: none;
        min-height: 100vh;
    }
    #myLink{
        margin-left: 16px ;
    }
    .card-mesa{
        width: 12rem;
        cursor: pointer;
        margin-left: 20px;
    }
    .rowMesa {
        column-gap: 30px;
    }
    .card-icon{
        height: 100px;
        overflow: hidden;
        padding: 20px;
    }
    .card-icon.img{
        width: 150px;
        object-fit: contain;
        object-position: center;
    }
    .card-pedido{

        min-height: 220px;
    }
    .card-pedido1{

        min-height: 220px;
    }
    .cardBox {
        width: 15rem;
        min-height: 220px;
        margin: 0;
        margin-top: 10px !important;
    }
    .cardBox1 {
        width: 15rem;
        min-height: 220px;
        margin: 0;
        margin-top: 10px !important;
    }
    .cardBody{
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column;
        padding-left: 0;
    }
    .cardBody1{
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column;
        padding-left: 0;
    }
    .title-pedido{
        margin-left: 20px;
    }
    .title-pedidos1{
        margin-left: 20px;
    }
    .title-pedidos2{
        margin-left: 30px;
    }
    .boxPedido{
        margin-left: 20px;
    }
    .boxPedido1{
        margin-left: 20px;;
    }
    #pedidosPreparadosContainer{
        margin-left: -10px !important;
    }
    #pedidosRealizadosContainer{
        margin-left: -20px !important;
    }
}
@media (min-width: 451px) and (max-width: 769px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 140px;
        height: 100vh;
        padding-top: 70px !important;
        background-color: #ffffff;
        z-index: 1000;
        transition: left 0.5s;
        overflow-y: auto;
    }
    
    #sidebar.active {
        left: 0;
        width: 130px;
        padding-top: 30px !important;
        padding-right: 10px;
        background-color: #ffffff !important;
        border-right: 3px solid var(--success);
        z-index: 1001;
    }
    #sidebar{
        margin-top: 80px !important;
        width: 13%;
    }
    .navbar-toggler {
        font-size: 15px;
        position: fixed;
        left: 10px;
        top: 75px;
        padding: 20px 40px 15px 20px;
        border: none;
        cursor: pointer;
        outline: none;
        transition: left 1s;
        z-index: 1050;
    }
    .navbar-toggler.sidebar-active {
        left: 1px;
        background-color: transparent !important;
        z-index: 1050;
    }
    .content-meseros{
        padding-left: 20px;
        padding-top: 30px;
    }
    .content-meseros.sidebar-active{
        margin-left: 90px !important;
        opacity: 0.2;
        transition: opacity 0.5s;
    }
    .check-text1 {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }
    .check-text {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }

    .check-circle1{
        width: 50px;
        height: 50px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
        top: -10px;
        z-index: 1;
    }

    .check-circle {
        width: 50px;
        height: 50px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        top: -10px;
        z-index: 1;
    }

    .check-circle i {
        color: white;
        font-size: 24px;
    }
    .card-mesa{
        width: 11rem;
        min-height: 100px;
    }
    .card-icon{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        height: 90px;
        overflow: hidden;
    }
    .card-title{
        font-size: 15px;
    }
    .card-pedido1{
        width: 20rem;
        margin-top: 30px;
        margin-left: 15px;
    }
    .mesasContainer {
        margin-left: 30px;
        column-gap: 0;
        transition: all 0.5ms;
    }
    .inputBox {
        margin-left: 40px;
    }
    .title-mesa{
        margin-left: 320px;
        font-size: 40px;
    }
}
@media (min-width: 0px) and (max-width: 450px) {
    /* CONFIGURACION GLOBAL */
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .sticky-title {
        position: sticky;
        margin-left: -40px !important;
        width: 100;
        top: 0;
        background-color: white !important;
        z-index: 1000; /* Asegura que el título esté por encima de otros elementos */
        padding-top: 50px; /* Ajusta el padding según sea necesario */
    }
    .sticky-title2 {
        position: sticky;
        margin-left: -70px !important;
        width: 100;
        top: 0;
        background-color: white;
        z-index: 1000; /* Asegura que el título esté por encima de otros elementos */
        padding-top: 50px; /* Ajusta el padding según sea necesario */
    }
    .btn-icon{
        padding: 0 !important;
    }
    .iconos{
        margin: 0;
        margin-left: -20px;
    }
    hr{
        width: 80%;
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 140px;
        height: 100vh;
        padding-top: 70px !important;
        background-color: #ffffff;
        z-index: 1000;
        transition: left 0.5s;
        overflow-y: auto;
    }
    
    #sidebar.active {
        left: 0;
        width: 130px;
        padding-top: 70px !important;
        padding-right: 10px;
        background-color: #ffffff !important;
        border-right: 3px solid var(--success);
        z-index: 1001;
    }
    

    .navbar-toggler {
        font-size: 15px;
        position: fixed;
        left: 10px;
        top: 75px;
        padding: 20px 40px 15px 20px;
        border: none;
        cursor: pointer;
        outline: none;
        transition: left 1s;
        z-index: 1050;
    }
    .navbar-toggler.sidebar-active {
        left: 1px;
        background-color: transparent !important;
        z-index: 1050;
    }
    .check-text1 {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }
    .check-text {
        color: white;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
    }

    .check-circle1{
        width: 50px;
        height: 50px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
        top: -10px;
        z-index: 1;
    }

    .check-circle {
        width: 50px;
        height: 50px;
        background-color: var(--success);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        top: -10px;
        z-index: 1;
    }

    .check-circle i {
        color: white;
        font-size: 24px;
    }

    /*CONFIGURACION PANEL MESEROS*/
    .content-meseros{
        transition: padding-left 0.5s;
        margin-top: 0px !important;
        margin-left: 30px !important;
        opacity: 1;
    }

    .content-meseros.sidebar-active {
        opacity: 0.2;
        transition: opacity 0.5s;
        margin-left: 200px !important;
    }

    .inputBox {
        margin-left: 20px;
        margin-top: 20px;
    }
    .inputBox.sidebar-active {
        transition: margin-left 0.5s;
        margin-left: -25px;;
    }

    .title-mesa{
        margin-top: 40px !important;
        font-size: 30px;
        margin-left: 130px;
        padding-left: 50px;
        transition: margin-left 0.5s;
    }

    .title-mesa.sidebar-active {
        margin-left: 30px;
        background-color: #ffffff;
    }

    .title-pedidos2{
        margin-top: 2px !important;
        font-size: 23px;
        margin-left: 50px !important;
        letter-spacing: 0.2rem;
    }

    .title-pedidos2.sidebar-active {
        margin-left: -55px !important;
    }

    .title-pedidos1{
        margin-top: 2px !important;
        font-size: 23px;
        margin-left: 50px !important;
        letter-spacing: 0.2rem;
    }

    .title-pedidos1.sidebar-active {
        margin-left: -55px !important;
    }

    .title-pedido{
        background-color: #ffffff;
        font-size: 30px;
        margin-left: 190px !important;
        padding-left: -30px;
        margin-top: 45px;
    }

    .title-pedido.sidebar-active {
        margin-left: 90px !important;
    }

    .card-mesa{
        width: 10rem;
        height: 10rem;
        margin-left: 0px;
        cursor: pointer;
    }

    .card-pedido{
        width: 18rem;
        margin: 0;
        margin-left: 20px;
        margin-top: 10px !important;
    }
    .card-pedido.sidebar-active {
        margin-left: -80px;
    }
    .card-body{
        font-size: 13px;
    }

    .card-pedido1{
        width: 17rem;
        margin: 0;
        margin-left: 40px;
        margin-top: 10px !important;
    }
    .card-pedido1.sidebar-active {
        margin-left: -60px;
    }


    .card-icon{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        height: 90px;
        overflow: hidden;
    }
    .card-icon.img{
        width: 50px;
        object-fit: contain;
        object-position: center;
    }
    .card-title{
        font-size: 16px;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .card-text{
        font-size: 15px;
    }
    .card-body-pedido{
        font-size: 10px;
    }
    .card-img-top{
        overflow: hidden;
        height: 19vw;
    }
    .imgMenu{
        object-fit: cover;
    }
    .titleMenu{
        text-align: center;
    }
    #menuTabContent{
        height: 300px; /* Altura fija para el contenedor del menú */
        overflow-y: auto;
    }
    .tomaPedido{
        margin-left: 5px;
        width: 10rem;
    }
    .no-mesas{
        margin-left: 5px;
        width: 10rem;
    }
    .boxPedido{
        margin-left: 20px;
    }
    .boxPedido1{
        margin-left: 20px;
    }
    .boxPedido.sidebar-active {
        margin-left: -20px;
    }
    .boxPedido1.sidebar-active {
        margin-left: -20px;
    }
    .mesasContainer.sidebar-active{
        padding-left: 10px;
        column-gap: 10px;
        transition: all 0.5ms;
    }
}