body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --success: #39A900;
}

.colorg {
    color: var(--success);
}

.bg-success{
    background-color: var(--success) !important;
}

#sidebar{
    background-color: #ffffff;
}


.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: #39A900 3px solid;
}

hr {
    width: 100%;
    margin-top: 0;
    position: relative;
    margin-left: 20px;
    height: 3px; /* Ajusta este valor al grosor deseado */
    background-color: var(--success); /* Asegúrate de que el color coincida con tu diseño */
    border: none;
    opacity: 1;
}

.navbar-toggler {
    font-size: 15px;
    position: fixed;
    left: 10px;
    top: 80px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: left 1s;
    z-index: 1050;
}
.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque cuando el botón está enfocado */
    box-shadow: none; /* Elimina cualquier sombra de enfoque cuando el botón está enfocado */
}

.hv a:hover {
    background-color: #39A900;
    color: white;
}

.responsive-icon {
    width: 80%;
    max-width: 50px;
}

.iconos{
    margin-left: 17px;
}

.responsive-img{
    width: 100%;
    max-width: 100px;
}

.responsive-card{
    width: 100%;
    max-width: 500px;
}

.bg-white {
    background-color: white;
}

.position-absolute.start-100 {
    left: 88% !important;  /* Cambia el valor predeterminado */
}

.check-text {
    color: white;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

.check-circle {
    width: 60px;
    height: 60px;
    background-color: var(--success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15;
    top: -10px;
    z-index: 1;
}

.check-circle i {
    color: white;
    font-size: 24px;
}

.card {
    border-color: var(--success);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-bottom: none;
    background-color: white;
}

.card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card-footer {
    border-top: none;
    background-color: transparent;
}

.btn {
    border-color: var(--success);
}

.btn-success {
    background-color: var(--success);
    border-color: var(--success);
}

.btn-success:hover{
    background-color: white;
    color: var(--success);
    border-color: var(--success) !important;
}

.border-success {
    border-color: var(--success);
}

.inputBox {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--success);
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.inputBox select:focus {
    border-color: #39A900;
}

.inputBox .placeholder {
    position: absolute;
    left: 10px;
    top: 50%;
    background: white;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    opacity: 2;
}

.inputBox select:focus + .placeholder,
.inputBox select:valid + .placeholder {
    top: 0;
    font-size: 12px;
    color: #39A900;
    background: rgb(255, 255, 255);
    transform: translateX(1px) translateY(-8px);
    border-left: 1px solid var(--success);
    border-right: 1px solid var(--success);
    letter-spacing: 0.2em;
}

