{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Meseros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stock.css' %} ? {% now "U" %}">
    <link rel="icon" href="{% static 'img/logo.png'%}">
</head>
<body>
    <nav class="navbar bg-white fixed-top navbar-expand-lg bg-body-ligth">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="ms-3">
                    <img src="{% static 'img/logo.png' %}" alt="" class="responsive-icon">
                    <span class="fw-bold">MeserosGastro</span>
                </div>
            </a>
            <div class="dropdown iconos">
                <button class="btn border-0">
                    <img src="{% static 'img/notificacion.png' %}" alt="" class="responsive-icon">
                </button>
                <button class="btn border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'img/usuario.png' %}" alt="" class="responsive-icon">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Cerrar sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid d-flex ms-1" style="margin-top: 30px;">
        <div class="col-md-1 mt-5 me-5" id="sidebar">
            <div class="d-flex align-items-center hv">
                <a data-content="mesas" id="myLink" class="btn border-0 d-flex flex-column align-items-center mb-2 ms-3">
                    <img src="{% static 'img/mesa-de-comedor.png' %}" alt="" class="responsive-img">
                    <span class="fw-bold fs-5">Mesas</span>
                </a>
            </div>
            <hr>
            <div class="d-flex align-items-center hv">
                <a data-content="pedidos" id="myLink" class="btn border-0 d-flex flex-column align-items-center mb-2 ms-3">
                    <img src="{% static 'img/pedido-en-linea.png' %}" alt="" class="responsive-img">
                    <span class="fw-bold fs-5">Pedidos</span>
                </a>
            </div>
        </div>
        
        <div class="col-md-12 mt-5">
            <section id="mesas">
                <div class="d-flex mt-3">
                    <h2 class=" mb-3">Mesas - Panel de Meseros</h2>
                </div>
                
                <div class="mb-3 inputBox">
                    <select id="ubicacion-select" class="form-select" required>
                        <option value="">Todas las ubicaciones</option>
                        {% for ubicacion in ubicaciones %}
                            <option value="{{ ubicacion.id }}" {% if ubicacion.id|stringformat:"s" == ubicacion_seleccionada %}selected{% endif %}>
                                {{ ubicacion.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="placeholder">Selecciona la ubicación</span>
                </div>
        
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'mesa_success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <div id="alertPlaceholderMesa"></div>
                <div class="row" id="mesasContainer">
                    {% for mesa in mesas %}
                    <div class="col-md-4 col-lg-2 mb-4 mt-3 ms-3 me-5">
                        <div class="card {% if mesa.estado == 'ocupada' %}border-danger {% endif %}" style="width: 13rem; cursor: pointer;" data-mesa-id="{{ mesa.id }}" data-bs-toggle="modal" data-bs-target="#pedidoModal" data-mesa-nombre="{{ mesa.nombre }}" data-mesa-ubicacion="{{ mesa.ubicacion }}" onclick="actualizarInfoMesa('{{ mesa.id }}', '{{ mesa.nombre }}', '{{ mesa.ubicacion }}')">
                            <div class="d-flex justify-content-center align-items-center" style="height: 100px; overflow: hidden;">
                                <img src="{% static 'img/mesa-de-comedor.png' %}" class="img-fluid" alt="Foto por defecto" style=" width: 150px; object-fit: contain; object-position: center;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center m-0">{{ mesa.nombre }} - <span class="mesa-ubicacion">{{ mesa.ubicacion }}</span></h5>
                                
                            </div>
                            <div class="card-footer text-center m-0 {% if mesa.estado == 'disponible' %}bg-success{% else %}bg-danger{% endif %}">
                                <p class="card-text text-white"><strong> {{ mesa.get_estado_display }} </strong> </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p>No hay mesas registradas para esta ubicación.</p>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section id="pedidos">
                <div class="row g-4 mt-1" id="pedidosContainer">
                    <h4>Pedidos preparados</h4>
                    {% for pedido in pedidos_preparados %}
                    <div class="col-md-6 col-lg-3">
                        <div class="card-container position-relative">
                            <div class="check-circle position-absolute">
                                <span class="check-text">{{pedido.id}}</span>
                            </div>
                            <div class="card border-success ms-4">
                                <div class="card-header">
                                    <h5 class="card-title text-center m-2"> <strong> Pedido {{ pedido.mesa.nombre }} </strong></h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled ms-4">
                                        {% for item in pedido.items.all %}
                                        <li> <strong> {{ item.cantidad }} </strong> {{ item.item_menu.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                    <p class="mb-0 ms-4"><strong>Pedido realizado:</strong> {{ pedido.fecha_pedido|date:"H:i" }}</p>
                                </div>
                                <div class="card-footer bg-white text-center">
                                    <button class="btn btn-success btn-sm w-100 cambiar-estado-btn fw-bold" data-pedido-id="{{ pedido.id }}" data-nuevo-estado="En mesa">
                                        {{ pedido.estado }} - Marcar en mesa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p>No hay pedidos registrados en este momento.</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="row g-4 mt-5 mb-5" id="pedidosContainer">
                    <h4>Pedidos realizados</h2>
                    {% for pedido in pedidos_realizados %}
                    <div class="col-md-6 col-lg-3">
                        <div class="card-container position-relative">
                            <div class="check-circle position-absolute">
                                <span class="check-text">{{pedido.id}}</span>
                            </div>
                            <div class="card border-success ms-4">
                                <div class="card-header">
                                    <h5 class="card-title text-center m-2"> <strong> Pedido {{ pedido.mesa.nombre }} </strong></h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled ms-4">
                                        {% for item in pedido.items.all %}
                                        <li> <strong> {{ item.cantidad }} </strong> {{ item.item_menu.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                    <p class="mb-0 ms-4"><strong>Pedido realizado:</strong> {{ pedido.fecha_pedido|date:"H:i" }}</p>
                                </div>
                                <div class="card-footer bg-light text-center">
                                    <span class="btn btn-success btn-sm w-100"> {{pedido.estado}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p>No hay pedidos registrados en este momento.</p>
                    </div>
                    {% endfor %}
                </div>
            </section>

        </div>

    </div>

    <!-- Modal para toma de pedidos -->
    <div class="modal fade" id="pedidoModal" tabindex="-1" aria-labelledby="pedidoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pedidoModalLabel">Tomar Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>MENÚ</h3>
                            <ul class="nav nav-tabs" id="menuTabs" role="tablist">
                                {% for categoria in categorias_menu %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ categoria.id }}" data-bs-toggle="tab" data-bs-target="#categoria-{{ categoria.id }}" type="button" role="tab">
                                        {{ categoria.nombre }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content mt-3" id="menuTabContent">
                                {% for categoria in categorias_menu %}
                                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="categoria-{{ categoria.id }}" role="tabpanel">
                                    <div class="row">
                                        {% for item in categoria.items.all %}
                                        <div class="col-md-6 mb-3">
                                            <div class="card" style="width: 14rem;">
                                                <div class="card-img-top d-flex align-items-center justify-content-center" style="height: 150px; overflow: hidden;">
                                                {% if item.imagen %}
                                                <img src="{{ item.imagen.url }}" alt="{{ item.nombre }}" style="width: 100%; height: 100%; object-fit: cover;">
                                                {% endif %}
                                            </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.nombre }}</h5>
                                                    <p class="card-text m-0"><strong>{{ item.precio_formateado }}</strong></p>
                                                    <button class="btn btn-primary btn-sm agregar-item m-0" data-id="{{ item.id }}" data-nombre="{{ item.nombre }}" data-precio="{{ item.precio }}">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>PEDIDO ACTUAL</h3>
                            <div id="pedido-actual">
                                <p><span id="mesa-numero"></span> - <span id="mesa-ubicacion"></span></p>
                                <ul id="lista-pedidos">
                                    <!-- Aquí se agregarán los items del pedido -->
                                </ul>
                                <p>Total a pagar: $<span id="total-pagar">0</span></p>
                            </div>
                            <button id="generar-ticket" class="btn btn-primary" data-url-registrar-pedido="{% url 'registrar_pedido' %}">
                                Generar ticket
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const urlRegistrarPedido = "{% url 'registrar_pedido' %}";
    </script>
    <script src="{% static 'js/meseros.js' %}?v={{ time }}"></script>

</body>
</html>
